In [1]:
import pandas as pd
from sqlalchemy import create_engine
from config import password

## Import CSV as a DataFrame

In [2]:
filepath = "Resources/DB-Vehicle-PTE.csv"
cars_df = pd.read_csv(filepath, encoding="ISO-8859-1")
cars_df.head()

,Brand,Vehicle,Engine,Engine code,Torque (Nm/rpm),Power (hp - kW /rpm),Average fuel consumption (l/100 km),CO2 (g/km),Cx/S(m²)/SCx,Weight(3p/5p) kg,Displacement,Block material /cylinder head,Compression ratio,GearBox type,Tyre,Others,Traction type
0,Renault,Twingo,1.2L 60 hp,D7F,93/2500,58-43/5250,5.6,130,?,1000,1149,cast iron /aluminium,9.6,MT,165/65 R14,12V,2wd
1,Renault,Twingo,1.2L 75 hp,D4F,108/4250,75-55/5500,5.1,120,?,1025,1149,cast iron /aluminium,9.8,MT,165/65 R14,16V,2wd
2,Renault,Twingo,1.5L dCi 65 hp,K9KBP,160/1900,65-48/3750,4.3,113,?,1055,1461,cast iron /aluminium,17.9,MT,165/65 R14,8V+TC,2wd
3,Renault,Twingo,1.2L 75 hp AT,D4F,108/4250,75-55/5500,5.6,132,?,1030,1149,cast iron /aluminium,9.8,AT 5,165/65 R14,16V,2wd
4,Renault,Twingo,1.5L dCi 85 hp,K9KHP,200/1750,84-62/3750,4,104,?,1055,1461,cast iron /aluminium,17.9,MT,165/65 R14,8V+TC+CAC,2wd

## Create new dataframe with columns to keep

In [3]:
cleaned_cars_df = cars_df[['Brand', 'Vehicle', 'Engine', 'Power (hp - kW /rpm)', 'Average fuel consumption (l/100 km)', 'CO2 (g/km)', 'Weight(3p/5p) kg', 'Block material /cylinder head', 'Traction type']]
cleaned_cars_df.head()

,Brand,Vehicle,Engine,Power (hp - kW /rpm),Average fuel consumption (l/100 km),CO2 (g/km),Weight(3p/5p) kg,Block material /cylinder head,Traction type
0,Renault,Twingo,1.2L 60 hp,58-43/5250,5.6,130,1000,cast iron /aluminium,2wd
1,Renault,Twingo,1.2L 75 hp,75-55/5500,5.1,120,1025,cast iron /aluminium,2wd
2,Renault,Twingo,1.5L dCi 65 hp,65-48/3750,4.3,113,1055,cast iron /aluminium,2wd
3,Renault,Twingo,1.2L 75 hp AT,75-55/5500,5.6,132,1030,cast iron /aluminium,2wd
4,Renault,Twingo,1.5L dCi 85 hp,84-62/3750,4,104,1055,cast iron /aluminium,2wd

## Reset index to make primary key

In [4]:
cleaned_cars_df = cleaned_cars_df.reset_index(drop=False)

## Rename columns

In [5]:
cleaned_cars_df = cleaned_cars_df.rename(columns={'index': 'id',
                                                  'Brand': 'brand',
                                                  'Vehicle': 'vehicle', 
                                                  'Engine': 'engine',
                                                  'Power (hp - kW /rpm)': 'power',
                                                 'Average fuel consumption (l/100 km)': 'average_fuel_consumption',
                                                 'CO2 (g/km)': 'co2',
                                                 'Weight(3p/5p) kg': 'weight', 
                                                  'Block material /cylinder head': 'material', 
                                                  'Traction type': 'traction_type'})
cleaned_cars_df.head()

,id,brand,vehicle,engine,power,average_fuel_consumption,co2,weight,material,traction_type
0,0,Renault,Twingo,1.2L 60 hp,58-43/5250,5.6,130,1000,cast iron /aluminium,2wd
1,1,Renault,Twingo,1.2L 75 hp,75-55/5500,5.1,120,1025,cast iron /aluminium,2wd
2,2,Renault,Twingo,1.5L dCi 65 hp,65-48/3750,4.3,113,1055,cast iron /aluminium,2wd
3,3,Renault,Twingo,1.2L 75 hp AT,75-55/5500,5.6,132,1030,cast iron /aluminium,2wd
4,4,Renault,Twingo,1.5L dCi 85 hp,84-62/3750,4,104,1055,cast iron /aluminium,2wd

In [6]:
cleaned_cars_df.columns

Index(['id', 'brand', 'vehicle', 'engine', 'power', 'average_fuel_consumption',
       'co2', 'weight', 'material', 'traction_type'],
      dtype='object')

## Remove rows with missing values

In [7]:
cols = ['id', 'brand', 'vehicle', 'engine', 'power', 'average_fuel_consumption', 'co2', 'weight', 'material', 'traction_type']

for col in cols:
    cleaned_cars_df = cleaned_cars_df[cleaned_cars_df[col] != '?']
cleaned_cars_df

,id,brand,vehicle,engine,power,average_fuel_consumption,co2,weight,material,traction_type
0,0,Renault,Twingo,1.2L 60 hp,58-43/5250,5.6,130,1000,cast iron /aluminium,2wd
1,1,Renault,Twingo,1.2L 75 hp,75-55/5500,5.1,120,1025,cast iron /aluminium,2wd
2,2,Renault,Twingo,1.5L dCi 65 hp,65-48/3750,4.3,113,1055,cast iron /aluminium,2wd
3,3,Renault,Twingo,1.2L 75 hp AT,75-55/5500,5.6,132,1030,cast iron /aluminium,2wd
4,4,Renault,Twingo,1.5L dCi 85 hp,84-62/3750,4,104,1055,cast iron /aluminium,2wd
...,...,...,...,...,...,...,...,...,...,...
1253,1253,Audi,Q5,2.0L TDI 170 hp DPF quattro S-tronic 7,170-125/4200,6.8,179,1845,cast iron /aluminium,4wd
1254,1254,Audi,Q5,3.0L V6 TDI 239 hp DPF quattro S-tronic 7,239-176/4400,7.5,199,1940,cast iron /aluminium,4wd
1255,1255,Audi,Q5,2.0L TFSI 211 hp quattro,211-155/6000,8.3,192,1770,cast iron /aluminium,4wd
1256,1256,Audi,Q5,2.0L TFSI 211 hp quattro S-tronic 7,211-155/6000,8.5,197,1815,cast iron /aluminium,4wd
1257,1257,Audi,Q6,3.2L V6 FSI 265 hp quattro S-tronic 7,271-199/6500,9.3,218,1870,aluminium/aluminium,4wd

## Create connection

In [8]:
connection_string = "postgres:" + password + "@localhost:5432/cars_db"
engine = create_engine(f'postgresql://{connection_string}')

In [9]:
engine.table_names()

/var/folders/s0/jxcz9nhj2qb3nxw_6prsbp3r0000gn/T/ipykernel_4630/4162273999.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['cars']

## Load into Postgresql

In [10]:
cleaned_cars_df.to_sql(name='car', con=engine, if_exists='append', index=False)

134

# Verify if the data were successfully load.

In [11]:
cars_all = pd.read_sql_query('select * from cars', con=engine).head()

In [12]:
cars_count = pd.read_sql_query('select count (*) from cars', con=engine)
print (f"cars_count: {cars_count}")

cars_count:    count
0   1253

In [13]:
query   =  'select max(average_fuel_consumption) as max_average_fuel_consumption \
                  , brand \
                  , vehicle \
                  , weight \
                  , material \
                  , traction_type \
              from cars \
              group by brand \
                 , vehicle \
                 , weight \
                 , material \
                 , traction_type \
          order by max(average_fuel_consumption)  desc' 
    
pd.read_sql_query(query, con=engine)

,max_average_fuel_consumption,brand,vehicle,weight,material,traction_type
0,15.7,Volkswagen,Touareg,2480,aluminium/aluminium,4wd
1,14.5,Volkswagen,Phaeton,2392,aluminium/aluminium,4wd
2,13.8,Volkswagen,Touareg,2332,aluminium/aluminium,4wd
3,13.5,Mitsubishi,Pajero 5p.,2290,cast iron /aluminium,4wd
4,13.3,Volkswagen,Touareg,2238,cast iron /aluminium,4wd
...,...,...,...,...,...,...
1157,0.0,Nissan,370Z Roadster,1629,aluminium/aluminium,Av/Ar
1158,0.0,Mitsubishi,I-Miev,1080,--,Av/Ar
1159,0.0,Volkswagen,New Beetle RSi,?,?,4wd
1160,0.0,Nissan,370Z Roadster,1661,aluminium/aluminium,Av/Ar
1161,0.0,Mitsubishi,Colt CZT (2004),?,?,2wd

In [14]:
query   =  "select max(average_fuel_consumption) as max_average_fuel_consumption \
                  , brand \
                  , vehicle \
                  , weight \
                  , material \
                  , traction_type \
              from cars \
              where traction_type = '2wd' \
              group by brand \
                 , vehicle \
                 , weight \
                 , material \
                 , traction_type \
          order by max(average_fuel_consumption)  desc" 
    
pd.read_sql_query(query, con=engine)

,max_average_fuel_consumption,brand,vehicle,weight,material,traction_type
0,12.2,Renault,Grand Espace,1890,aluminium/aluminium,2wd
1,12.1,Volkswagen,Phaeton (2004),2056,cast iron /aluminium,2wd
2,12.0,Renault,Espace,1845,aluminium/aluminium,2wd
3,11.5,Peugeot,807 (2002) SV,1762,aluminium/aluminium,2wd
4,11.5,Renault,Vel Satis,1720,aluminium/aluminium,2wd
...,...,...,...,...,...,...
962,3.8,Seat,Ibiza (2006) Ecomotive,1159/1184,cast iron /aluminium,2wd
963,3.7,Seat,Ibiza Ecomotive,1165,cast iron /aluminium,2wd
964,3.7,Seat,Ibiza SportCoupé Ecomotive,1140,cast iron /aluminium,2wd
965,0.0,Mitsubishi,Colt CZT (2004),?,?,2wd
966,0.0,Skoda,Octavia GreenLine,?,cast iron /aluminium,2wd

In [15]:
query = "select brand \
              , vehicle \
              , average_fuel_consumption \
              , traction_type \
           from cars \
       order by average_fuel_consumption desc"
pd.read_sql_query(query, con=engine)

           brand            vehicle  average_fuel_consumption traction_type
0     Volkswagen            Touareg                      15.7           4wd
1     Volkswagen            Phaeton                      14.5           4wd
2     Volkswagen            Touareg                      13.8           4wd
3     Mitsubishi         Pajero 5p.                      13.5           4wd
4     Volkswagen            Touareg                      13.3           4wd
...          ...                ...                       ...           ...
1248      Nissan      370Z Roadster                       0.0         Av/Ar
1249  Mitsubishi             I-Miev                       0.0         Av/Ar
1250     Citroen  C3 pluriel (2008)                       0.0             ?
1251     Peugeot                607                       0.0           2wd
1252      Nissan      370Z Roadster                       0.0         Av/Ar

[1253 rows x 4 columns]